.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 20px;
}
.defaultcard {
    flex-grow: 1;
    padding-top: 10px;
}
button {
    margin-right: 8px;
}
#auth {
    background-color: #084C61;
    border-color: #084C61;
}
#create {
    background-color: #E3B505;
}
#second {
    background-color: #4F6D7A;
}
#creation {
    background-color: #DB504A;
    width: 50px;
}
#statistic {
    background-color: #56A3A6;
    width: 50px;
}
#dropbox {
    background-color: #c6f4fa;
    width: 50px;
}
#mastodon {
    background-color: #6364ff;
    width: 50px;
}
