<div class="card" style="height: 100%; display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-evenly;">
    <div>
        <form #searchInput="ngForm" nz-form style="margin: auto; width: 500px;">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input name="filterTitle" (keyup)="search(searchInput.value)" ngModel="{{ filterTitle }}" type="text" nz-input placeholder="Suchen..." />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span (click)="search(searchInput.value)" nz-icon nzType="search"></span>
            </ng-template>
        </form>
    </div>
    <div>
        <nz-table  #basicTable nzShowPagination [nzData]="records" [nzTotal]="total"
        [nzFrontPagination]="false"
        [nzPageSize]="limit"
        [nzPageIndex]="start"
        (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Genre</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td routerLink="/detailview/{{ data.id }}">{{ data.title }}</td>
                    <td routerLink="/detailview/{{ data.id }}">{{ data.genre }}</td>
                    <td>
                        <i routerLink="/createview/{{ data.id }}" nz-icon nzType="edit" [nzTheme]="'twotone'" [nzTwotoneColor]="'brown'"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="deleteRecord(data.id)" nz-icon nzType="delete" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'" style="cursor: pointer;"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
