<div class="card">
    <div>
        <button routerLink="/" nz-button nzType="default">Zurück</button>
    </div>

    <form #record="ngForm" nz-form>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
            <input type="text" name="title" placeholder="Title" required ngModel="{{ title }}" style="border-radius: 5px;">
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="genre">Genre</nz-form-label>
            <input type="text" name="genre" placeholder="genre" required ngModel="{{ genre }}" style="border-radius: 5px;">
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="description">Description</nz-form-label>
            <textarea [nzAutosize]="{ minRows: 1, maxRows: 7 }" maxlength="100" type="text" name="description" placeholder="Kurzbeschreibung" ngModel="{{ description }}" style="border-radius: 5px;"></textarea>
            <label>&nbsp;{{record.value.description.length}}/100</label>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="link">Trailer</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-input-group nzAddOnBefore="{{ youtubeStartUrl }}">
                    <input type="text" required name="link" placeholder="Youtube Url" ngModel="{{ link }}" style="border-radius: 0px 5px 5px 0px;"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="14" [nzOffset]="10">
                
                <div *ngIf="isUpdate; else elseBlock">
                    <button nz-button nzType="default" (click)="preview(record.value)">Preview</button>
                    <button nz-button nzType="primary" (click)="updateRecord(record.value)" [nzLoading]="isLoading" [disabled]="!record.valid" id="create">Update</button>
                </div>
                <ng-template #elseBlock>
                    <button nz-button nzType="default" (click)="preview(record.value)">Preview</button>
                    <button nz-button nzType="primary" (click)="createRecord(record.value)" [nzLoading]="isLoading" [disabled]="!record.valid" id="create">Create</button>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzSpan]="14" [nzOffset]="10">
                <div style="border-radius: 10px; width: 360px; height: 240px; overflow: hidden;">
                    <iframe width="360" height="240" [src]="safeSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>

</div>
