<nz-layout class="app-layout secondary">
  <nz-header class="logo primary logo-container">
    
      <div>
        <img routerLink="" src="./assets/logoframe.png" alt="Italian Trulli" style="width: 40px; height: 40px; cursor: pointer;">
      </div>
      <div>
        <h1 routerLink="" style="color: white; cursor: pointer;">WatchList</h1>
      </div>
    
  </nz-header>
  <nz-content>
    <!--<div class="inner-content">-->
      <router-outlet></router-outlet>
    <!--</div>-->
  </nz-content>
</nz-layout>
