/* You can add global styles to this file, and also import other style files */
.notification {
    background-color: #084C61;
    color: white;
}
.ant-notification-notice-message {
    color: white;
}

.ant-notification-notice-description {
    color: white;
}
.anticon.ant-notification-notice-icon-success {
    color: #CAFAFE;
}
.card {
    background-color: white;
    padding: 10px;
}
.background {
    /*background-color: #656565 !important;*/
    background-color: lightgray !important;
    color: white !important;
    /*background-color: #CAFAFE !important;*/
}
.primary {
    /*background-color: #404040 !important;*/
    color: #612408 !important;
    /*background-color: #FC4445 !important;*/
    background-color: #084C61 !important;
}
.secondary {
    /*background-color: #333333 !important;*/
    background-color: lightgray !important;
    color: white !important;
    /*background-color: #3FEEE6 !important;*/
    /*background-color: #96C9DC !important;*/
}
