button {
  margin-right: 8px;
  border-radius: 5px;
}

#mastodonShare {
  background-color: #595aff;
  border-color: #595aff;
  color: white;
}
#mastodonShare:disabled {
  background-color: #858afa;
  border-color: #858afa;
  color: lightgray;
}
#mastodonShare:hover {
  background-color: #858afa;
}

::ng-deep .ant-input-group-addon {
  border-radius: 5px 0px 0px 5px;
}
